affine==2.4.0
altgraph==0.17.4
attrs==23.2.0
certifi==2024.2.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.1
cycler==0.12.1
dem-roughness-calculator==1.0.0
fonttools==4.51.0
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
rasterio==1.3.10
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
snuggs==1.4.7
